<h1 class="text-3xl font-bold underline" fancy>Zooi</h1>

<h2 class="text-2xl font-bold">Autocompleter</h2>

@if (animals) {
	<app-autocompleter [data]="animals" (itemSelect)="handleSelect($event)" fancy />
}

<h2 class="text-2xl font-bold" fancy>Leven</h2>

<button class="btn btn-secondary" (click)="showLife = !showLife">Toggle life</button>

@if (showLife) {
	<app-life fancy="red" />
}


name: {{name}}

<button (click)="changeName()">Verander naam</button>

<h2 class="text-xl font-bold">Auth</h2>

<!-- for now this is fine: -->
<button class="btn btn-secondary" (click)="authService.login()">Login</button>&nbsp;
<button class="btn btn-secondary" (click)="authService.logout()">Loguit</button>