<h1 class="text-2xl font-bold">Dieren</h1>

<div class="flex gap-10">
	<form (submit)="addAnimal(f)" #f="ngForm">
		<h2 class="font-bold text-xl">Template-driven</h2>
		<ol>
			<li>
				<label>Soort:</label>
				<input
					class="input not-[.ng-untouched]:not-[.ng-valid]:input-error"
					[(ngModel)]="newAnimal.species"
					name="species"
					required
					pattern="[a-zA-Z -]{3,}"
					#inputSpecies="ngModel"
				/>
				@if (inputSpecies.touched && inputSpecies.invalid) {
					<span>Ongeldig</span>
				}
				@if (inputSpecies.touched && inputSpecies.hasError('required')) {
					<span>Vul in aub</span>
				}
				@if (inputSpecies.touched && inputSpecies.hasError('pattern')) {
					<span>Alleen letters spaties graag en minimaal 3 karakters</span>
				}
			</li>
			<li>
				<label>Max leeftijd:</label>
				<input
					class="range"
					[(ngModel)]="newAnimal.maxAge"
					name="maxAge"
					type="range"
					min="0"
					max="300"
					step="5"
					required
				/>
			</li>
			<li>
				<label>Foto URL:</label>
				<input class="input" type="url" [(ngModel)]="newAnimal.photoUrl" name="photoUrl" required />
			</li>
			<li>
				<button class="btn btn-primary" [disabled]="!f.valid">Voeg dier toe</button>
			</li>
			<li>
				valid: {{ f.valid }}
				<pre>{{ newAnimal | json }}</pre>
			</li>
		</ol>
	</form>

	<form (submit)="addAnimalReactive()" [formGroup]="addAnimalForm">
		<h2 class="font-bold text-xl">Reactive (model-driven)</h2>
		<ol>
			<li>
				<label>Soort:</label>
				<input class="input not-[.ng-untouched]:not-[.ng-valid]:input-error" formControlName="species" />
				@if (addAnimalForm.controls.species.touched && addAnimalForm.controls.species.invalid) {
					<span>Ongeldig</span>
				}
				@if (addAnimalForm.controls.species.touched && addAnimalForm.controls.species.hasError('required')) {
					<span>Vul in aub</span>
				}
				@if (addAnimalForm.controls.species.touched && addAnimalForm.controls.species.hasError('pattern')) {
					<span>Alleen letters spaties graag en minimaal 3 karakters</span>
				}
			</li>
			<li>
				<label>Max leeftijd:</label>
				<input class="range" type="range" min="0" max="300" step="5" formControlName="maxAge" />
			</li>
			<li>
				<label>Foto URL:</label>
				<input class="input" type="url" formControlName="photoUrl" />
			</li>
			<li>
				<button class="btn btn-primary" [disabled]="!addAnimalForm.valid">Voeg dier toe</button>
			</li>
			<li>
				valid: {{ addAnimalForm.valid }}
				<pre>{{ addAnimalForm.value | json }}</pre>
			</li>
		</ol>
	</form>

	@if (isFetchingAnimals) {
		<app-loading message="Druk bezig met dieren ophalen!" />
	} @else {
		<table class="table w-auto">
			<thead>
				<tr>
					<th>ID</th>
					<th>Soort</th>
					<th>Max leeftijd</th>
					<th>Foto</th>
				</tr>
			</thead>
			<tbody>
				@for (animal of animal$ | async; track animal.id) {
					<tr (mouseenter)="increaseMaxAge(animal)" [class.bg-[lightgoldenrodyellow]]="animal.maxAge > 50">
						<td>{{ animal.id }}</td>
						<td>{{ animal.species }}</td>
						<td>{{ animal.maxAge }}</td>
						<td class="max-w-40"><img src="{{ animal.photoUrl }}" /></td>
					</tr>
				}
			</tbody>
		</table>
	}
</div>

<router-outlet />
