<h1>Dierapp</h1>

naam: {{ name }}

<!-- @if (typeof name === 'number') {
  {{name}}
} -->
<!-- <div *ngIf="typeof name === 'number'">{{name}}</div> -->

<button (click)="changeName()">Verander naam</button>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Soort</th>
			<th>Max leeftijd</th>
			<th>Foto</th>
		</tr>
	</thead>
	<tbody>
		@for (animal of animals; track animal.id) {
			<tr
				(mouseenter)="increaseMaxAge(animal)"
				[class.oud]="animal.maxAge > 50"
			>
				<td>{{ animal.id }}</td>
				<td>{{ animal.species }}</td>
				<td>{{ animal.maxAge }}</td>
				<td><img src="{{ animal.photoUrl }}" /></td>
			</tr>
		}
	</tbody>
</table>
