{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"bracketSpacing": false,
	"arrowParens": "avoid",
	"printWidth": 130,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"parser": "angular"
			}
		}
	]
}
